var formatArticle = function (article) {
    return article.split('\n').map(function (item) {
        return item.trim();
    });
};

var isPreChapterActive = function (chapter) {
    return +chapter !== 1;
};

var isNextChapterActive = function (chapter, chaptersCount) {
    return +chapter !== +chaptersCount;
};

module.exports = {
    formatArticle: formatArticle,
    isPreChapterActive: isPreChapterActive,
    isNextChapterActive: isNextChapterActive
};