$fontFamily: PingFang SC,Helvetica Neue,Helvetica,STHeiTi,sans-serif;
$defaultBackgroundColor: #eee6dd;
$defaultFontColor: #5c5d58;
$defaultTitleColor: #333;

$nightBackgroundColor: #0c0c0c;
$nightFontColor: #666;
$nightTitleColor: #888;

$eyeBackgroundColor: #b8cd8b;
$eyeFontColor: rgba(12, 46, 16, .8);
$eyeTitleColor: #0c2e10;

@mixin read-mode($fontColor, $titleColor, $bgColor) {
    color: $fontColor;
    background: $bgColor;
    .article-title {
        color: $titleColor;
    }
    .article-body {
        background: $bgColor;
    }
    .bottom-btn-group {
        background: $bgColor;
        .bottom-btn {
            color: $fontColor !important;
            background: $bgColor !important;
        }
    }
}

.page-read {
    width: 100%;
    height: 100%;
    font-family: $fontFamily;
    @include read-mode($defaultFontColor, $defaultTitleColor, $defaultBackgroundColor);
    &.night-mode {
        @include read-mode($nightFontColor, $nightTitleColor, $nightBackgroundColor);
        .bottom-btn-group .bottom-btn {
            box-shadow: inset 0 0 0 1px #5c5d58;
        }
    }
    &.eye-mode {
        @include read-mode($eyeFontColor, $eyeTitleColor, $eyeBackgroundColor);
    }
    // 滑屏样式
    .read-mode-column {
        width: 375px;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0 20px;
        .slide-wrapper {
            column-width: 335px;  // 页面分栏展示的关键设置
            column-gap: 40px;
            height: 100%;
            .article-body {
                padding: 0;
            }
            .bottom-btn-group {
                padding-bottom: 0;
                .bottom-btn {
                    &.btn-n {
                        width: 315px;
                    }
                    &.btn-p {
                        width: 150px;
                        margin-right: 15px;
                    }
                    &.btn-c {
                        width: 150px;
                    }
                }
            }
        }
    }
    .article-title {
        display: block;
        font-size: 20px;
        line-height: 32px;
        padding: 10px 20px 0;
    }
    .article-body {
        display: block;
        font-size: 18px;
        padding: 10px 20px;
        line-height: 28px;
        .article-line {
            display: block;
            margin: 5px 0;
            line-height: 1.5;
            text-align: justify;
        }
    }
    .invalid-chapter {
        text-align: center;
        padding: 50px 0;
        .invalid-lead-text {
            font-size: 16px;
        }
        .change-source-btn {
            margin: 20px auto;
            width: 100px;
        }
    }
    .bottom-btn-group {
        padding: 0 10px 50px;
        .bottom-btn {
            display: inline-block;
            margin: 10px 0 0;
            &.btn-n {
                width: 355px;
            }
            &.btn-p {
                width: 165px;
                margin-right: 25px;
            }
            &.btn-c {
                width: 165px;
            }
        }
    }
}

.contents-wrapper {
    width: 300px;
    height: 100vh;
    background: #FAFAFA;
    padding: 48px 0;
    position: relative;
    &::-webkit-scrollbar {
        display: none;
    }
    .contents-list {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        .i-cell.active {
            color: #b93221;
        }
    }
    .list-scroll-content {
        height: 100%;
    }
    .contents-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: $fontFamily;
        font-size: 14px;
        .i-cell-text {
            font-weight: 600;
            color: #222;
        }
        .page-select {
            display: inline-block;
            vertical-align: middle;
            color: #222;
            .unfold {
                position: relative;
                top: -1px;
            }
        }
    }
    .closeContentBtn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
}
.sources-wrapper {
    width: 300px;
    height: 100vh;
    background: #FAFAFA;
    padding: 48px 0;
    &::-webkit-scrollbar {
        display: none;
    }
    .sources-list {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .sources-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: $fontFamily;
        font-size: 14px;
    }
    .i-cell.active {
        color: #b93221;
    }
    .closeContentBtn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
}

.right-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    .to-book-shelf {
        position: absolute;
        width: 80px;
        height: 30px;
        background: rgba(50,51,52,.9);
        border-radius: 30px 0 0 30px;
        color: #fff;
        opacity: 0;
        font-size: 13px;
        line-height: 30px;
        padding-left: 15px;
        top: -293px;
        right: 0;
        transition: all .2s ease;
        transform: translateX(80px);
        &.to-book-shelf-show {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.bottom-panel {
    width: 100%;
    height: 240px;
    padding: 20px;
    background-color: rgba(50, 51, 52, .9);
    transform: translateY(220px);
    opacity: 0;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease;
    z-index: 7;
    &.bottom-panel-show {
        opacity: 1;
        transform: translateY(0);
    }
    .item {
        margin-bottom: 20px;
        height: 30px;
        white-space: nowrap;
    }
    .chapter-title {
        height: 20px;
        margin-bottom: 0;
        font-family: $fontFamily;
        font-size: 14px;
        color: #fff;
        line-height: 20px;
        text-align: center;
    }
    .font-btn-w {
        width: 32px;
        font-family: $fontFamily;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        display: inline-block;
        &.disabled {
            color: #888;
        }
    }
    .font-size-progress {
        display: inline-block;
        width: 240px;
        margin: 0 15px;
        transform: translateY(-4px);
    }
    .read-progress {
        display: inline-block;
        width: 217px;
        margin: 0 15px 0 0;
        transform: translateY(-2px);
    }
    .read-progress-des {
        display: inline-block;
        width: 45px;
        font-family: $fontFamily;
        font-size: 16px;
        line-height: 30px;
        color: #fff;
    }
    .previous-chapter, .next-chapter {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        transform: translateY(-3px);
        color: #fff;
        &.disabled {
            color: #888;
        }
    }
    .previous-chapter {
        text-align: left;
    }
    .next-chapter {
        text-align: right;
    }
    .chapter-handle {
        display: flex;
        justify-content: space-around;
        .chapter-select-btn {
            font-size: 15px;
            color: #fff;
            line-height: 30px;
            
        }
    }
    .page-pattern-select {
        display: flex;
        justify-content: space-between;
        .page-pattern-btn {
            display: inline-block;
            width: 100px;
            height: 30px;
            color: #fff;
            line-height: 30px;
            text-align: center;
            border: 1px solid #535353;
            border-radius: 4px;
            &.active {
                color: #b93221;
                border: 1px solid #b93221;
            }
            &.pattern-night-btn {
                background: $nightBackgroundColor;
            }
            &.pattern-eye-btn {
                background: $eyeBackgroundColor;
            }
        }
    }
}
