{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "es6": true
    },
    "plugins": [
        "import"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "no-unused-expressions": "off",
        "no-param-reassign": "off",
        "no-return-await":"off",
        "no-plusplus": "off",
        "no-extra-boolean-cast": "off",
        "no-bitwise": "off",
        "consistent-return": "off",
        "no-useless-return": "off",
        "no-underscore-dangle": "off",
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "indent": [
            "error",
            4,
            {"SwitchCase": 1}
        ],
        "linebreak-style": "off",
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always",
            {
                "omitLastInOneLineBlock": true
            }
        ],
        "semi-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "semi-style": [
            "error",
            "last"
        ],
        "no-extra-semi": "error",
        "no-multi-spaces": [
            "error",
            {
                "ignoreEOLComments": true,
                "exceptions": {
                    "Property": true,
                    "BinaryExpression": false,
                    "VariableDeclarator": true,
                    "ImportDeclaration": true
                }
            }
        ],
        "array-bracket-spacing": [
            "error",
            "never"
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "keyword-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "no-trailing-spaces": "error",
        "space-before-blocks": [
            "error",
            "always"
        ],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "comma-dangle": ["warn", "only-multiline"],
        "no-console": "off",
        "spaced-comment": [
            "error",
            "always",
            {
                "block": {
                    "exceptions": [
                        "*"
                    ],
                    "balanced": true
                }
            }
        ],
        "prefer-promise-reject-errors": "off",
        "prefer-destructuring": "off",
        "no-shadow": "off",
        "arrow-parens": "off",
        "dot-notation": "off"
    },
    "globals": {
        "App": true,
        "Page": true,
        "Component": true,
        "wx": true,
        "getApp": true,
        "getCurrentPages": true
    }
}