@import "../../template/bookList/index.scss";

.page-category-item {
    background: #FAFAFA;
    width: 100%;
    position: relative;
    padding: 90px 10px 21px;
    .filter-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: #666;
        background: #fff;
        z-index: 1;
        .filter-item {
            position: relative;
            width: 100%;
            height: 45px;
            line-height: 45px;
            overflow: hidden;
            background-size: 100% 1px;
            background-image: linear-gradient(180deg,transparent 50%,#ddd 0);
            background-repeat: no-repeat;
            background-position: bottom;
            ul li {
                display: inline-block;
                height: 100%;
                padding: 0 8px;
                font-size: 13px;
                &:first-child {
                    padding-left: 15px;
                }
                &.active {
                    color: #b93321;
                }
            }
        }
    }
    .filter-bar-result {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: #666;
        background: #fff;
        z-index: 1;
        line-height: 45px;
        overflow: hidden;
        background-size: 100% 1px;
        background-image: linear-gradient(180deg,transparent 50%,#ddd 0);
        background-repeat: no-repeat;
        background-position: bottom;
        text-align: center;
        & > view {
            display: inline-block;
            line-height: 45px;
            margin-right: 5px;
        }
    }
}