var starOfScore = function (score) {
    return Math.round(Math.floor(score) / 2);
};

var getChineseUnit = function (num) {
    num = parseInt(num);
    return num > 999 ? (num / 10000).toFixed(1) + '万' : num;
};

var fixed = function(num, x) {
    if (num) {
        return num.toFixed(x);
    }
    return '--';
};

module.exports = {
    starOfScore: starOfScore,
    getChineseUnit: getChineseUnit,
    fixed: fixed
};