.page-rank {
    height: 100%;
    .fixed-tabs {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .content {
        height: 100%;
        display: flex;
        margin-top: 42px;
        .ranks-list {
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .books-list {
            height: 100%;
            width: 100%;
            overflow: auto;
        }
    }
}

.books-list {
    
}