@import '../../template/tabBar/index.scss';
.page-rank {
    height: 100%;
    .fixed-tabs {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .content {
        height: 100%;
        display: flex;
        padding: 42px 0 50px;
        .ranks-list {
            width: 80px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            .column-sub-tab {
                height: 100%;
                border-right: 1px solid #E9EaEc;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.books-list {
    height: 100%;
    flex: 1;
    overflow: auto;
    padding: 0 5px;
    box-sizing: border-box;
    .book-info {
        padding: 5px 0;
        .book-title {
            font-weight: bold;
            font-size: 14px;
            line-height: 23px;
            color: #333;
        }
        .book-short-intro {
            margin: 9px 0 10px;
            font-size: 12px;
            color: #999;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
        }
        .hot, .reserve {
            font-size: 12px;
            color: #666;
            .text-red {
                color: #b93321;
            }
        }
    }
    .cover-image {
        width: 70px;
        height: 100px;
    }
}